.search-bar-container {
    width: 100%;
    min-width: 220px; 
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar-container input {
    width: 100%;
    outline: none;
    background-color: var(--secondary-color);
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 60px;
    border: none;
    height: 40px;
  }

  .search-bar-container input:hover {
    background-color: rgb(189, 189, 189);
    border-radius: 60px;
  }

  input::placeholder {
    color: rgb(105, 105, 105);
    font-weight: bold;
  }